<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <header>
        <container style="text-align: center;">
            <H1>About page</H1>
        </container>
    </header>
    <content>
        <container style="text-align: center;">
            <h3>This page exist</h3>
        </container>
    </content>
    <footer>
        <container style="text-align: center;">
            <h5>Today:{{date}}</h5>
            <a style="margin: 0 auto; display: block;" href="/">Main page</a>
        </container>
    </footer>
</body>

</html>