<style type="text/css">
    .menu {
        display: flex;
        justify-content: space-around;
    }

    .menu li {
        list-style-type: none;
    }

    .menu a {
        margin: 0 auto;
        display: block;
    }

    .container {
        text-align: center;
    }

    table {
        border: 3px solid black;
        margin: 0 auto;
        border-spacing: 0px;
    }

    .courses_form {
        margin-top: 15px;
    }

    .submit {
        margin-top: 10px;
    }

    .categories {
        border-right: 1px solid black;
    }

    .category_name {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    th {
        padding: 5px;
        border-bottom: 1px solid black;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    form input {
        margin-bottom: 20px;
        padding: 5px 40px;
        text-align: center;
    }

    form input[placeholder="Текст"] {
        padding-bottom: 60px;
    }

    .create_link {
        padding-left: 15px;
        font-size: 16px;
    }

    ul li {
        font-size: 25px;
    }

    form select {
        height: 10vh;
        width: 20vw;
        margin-bottom: 15px;
    }
</style>