{% extends "base.html" %}
{% block title %}
Category list
{% endblock %}
{% block style %}
{% include "style.html" %}
{% endblock %}
{% block header %}
{% include "header.html" %}
{% endblock %}
{% block body %}
<ul>
    {% for item in objects_list %}
    <li>
        <a href="/courses_list/?id={{item.id}}">{{item.name}} <span>Количество курсов:
                {{item.course_count()}}</span></a> <a href="/create_course/?id={{item.id}}">Создать курс</a>
    </li>
    {% endfor %}
</ul>

<div>
    <li><a href="/create_category/">Создать категорию</a></li>
</div>
{% endblock %}